@use "../abstracts/variables" as *;

.settings-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
    color: black;
    font-size: 1.5rem;
}

.settings-section {
    background-color: #f9f9f9;
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.settings-section-title {
    font-size: 2rem;
    font-weight: $fw-b;
    text-transform: uppercase;
}

.timer-settings {
  display: flex;
  align-items: end;
  gap: 1.2rem;
  margin-top: 1rem;
}

.timer-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4rem;
  font-size: 1.5rem;
}

.timer-label-text {
  margin-left: 0.2rem;
}

.timer-input {
    width: 4em;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
    text-align: center;
    font-size: 1.5rem;

    &:focus {
        border-color: #4D96FF;
        outline: none;
    }
}

.timer-save-btn {
    padding: 0.5rem 1rem;
    background-color: #4D96FF;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.2s;

    &:hover {
        background-color: #6CCFF6;
    }
}

.theme-section .color-section {
    margin-bottom: 1.5rem;
}

.color-section p {
    margin-bottom: 0.5rem;
}

.sound-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.sound-select {
    width: fit-content;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    cursor: pointer;
    font-size: 1.5rem;

    &:focus {
        outline: none;
        border-color: #4D96FF;
    }
}

.volume-slider {
    display: flex;
    gap: 0.5em;
}