$color-primary: rgba(239, 62, 54, 1);
$color-secondary: rgba(58, 80, 107, 1);

$font-primary: 'Inter', sans-serif;

$fw-n: 400;
$fw-b: 900;

$pomodoro-colors: (
    "1": $color-primary,
    "2": rgba(255, 169, 77, 1),
    "3": rgba(255, 146, 43, 1),
);

$break-colors: (
    "1": $color-secondary,
    "2": rgba(42, 157, 143, 1),
    "3": rgba(137, 207, 240, 1)
);