.stats-chart-wrapper {
  background: #ffffff;
  padding: 1.5em;
  border-radius: 0.8em;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.08);
  width: 100%;
  max-width: 1000px;
  margin: 1.5em auto;

  display: flex;
  flex-direction: column;
  gap: 1em;
}

.stats-chart-title {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  color: #333;
}

.stats-chart-wrapper {
  width: 100%;
  height: 20rem;
}

.stats-chart-bar {
  fill: #3b82f6;
  transition: 0.3s;

  &:hover {
    fill: #2563eb;
  }
}
