@use '../abstracts/variables'as *;
@use '../abstracts/mixins'as *;

.task {
    @include flex-center;
    justify-content: space-between;
    background-color: white;
    border-radius: 0.6em;
    border: 1px solid grey;
    padding: 1em;
    font-size: 1.5rem;
    margin-bottom: 0.5em;
    color: black;

    &.active, &:hover {
        cursor: pointer;
        background-color: rgba($color: #ffffff, $alpha: 0.75);
    }
}

.task-left,
.task-right {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.task-right {
    position: relative;
}

.options-button {
    display: flex;
    border-radius: 0.2em;
    padding: 0.2em;
}

.check-button {
    aspect-ratio: 1;
    border-radius: 100%;
    padding: 0;
    width: 2em;
}

.task-name {
    &.completed {
        text-decoration: line-through;
    }
}

.tasks-container {
    margin: 1em;
}

.tasks-count {
    color: white;
    font-weight: $fw-b;
    font-size: 2rem;
    margin-bottom: 0.5em;
}

.dropdown-container {
    position: absolute;
    right: -0.5rem;
    top: 3.5rem;

    background-color: white;
    border: 1px solid #dcdcdc;
    border-radius: 0.5em;

    z-index: 20;
}

.dropdown-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.dropdown-item {
    display: flex;
    align-items: center;
    padding: 0.5em 1em;
    font-size: 1.75rem;
    gap: 0.5em;

    &:hover {
        cursor: pointer;
        background: #f4f4f4;
    }
}

.dropdown-container::before {
    content: '';
    position: absolute;
    top: -0.7rem;
    right: 1.1rem;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    background-color: white;
    border-left: 1px solid grey;
    border-top: 1px solid grey;
}

.add-task-button {
    background-color: white;
}

.task-form {
    background-color: white;
    border-radius: 0.6em;
    border: 1px solid grey;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
     color: black;
}

.task-form-input {
    border: none;
    font-size: 1.75rem;
    width: 100%;
}

.task-form-input:focus {
    outline: none;
}

.estimated {
    font-size: 1.5rem;
    font-weight: $fw-b;
    margin-bottom: 0.5em;
}

.number-input {
    width: 4em;
    text-align: center;
    font-size: 1.5rem;
}

.pomodoros-wrapper {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.arrows-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.2em;
}

.arrow {
    cursor: pointer;
    width: 4em;
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.3em;
    font-size: 1rem;
    border: 1px solid black;

    &:hover {
    background-color: #f0f0f0;
    transform: scale(1.1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
}

.task-form-buttons {
    display: flex;
    gap: 1em;
}

.button-save {
  background-color: #2c7ef0;
  color: white;

  &:hover {
    background-color: #1a5fc1;
    transform: scale(1.05);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
}

.button-cancel {
  background-color: #e0e0e0;
  color: #333;

  &:hover {
    background-color: #ccc;
    transform: scale(1.05);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
}

.active-task {
    font-size: 2rem;
    font-weight: $fw-b;
    text-align: center;
}