@use '../abstracts/variables'as *;
@use '../abstracts/mixins'as *;

.timer-container {
    @include flex-center(column);
    background-color: rgba($color: #ffffff, $alpha: 0.1);
    margin: auto;
    width: max-content;
    padding: 1.5em 3em;
    border-radius: 0.5rem;
}

.mode-buttons {
    @include flex-center;
    gap: 1em;

    button {
        color: white;
        border: none;
        @include transition;

        &:hover,
        &.active {
            background-color: rgba($color: #000000, $alpha: 0.15);
        }
    }
}

.timer-time {
    font-size: 5rem;
    font-weight: bold;
    color: white;
    @include flex-center;
}

.action-buttons {
    @include flex-center;
    gap: 1em;

    button {
        @include transition;
        background-color: white;
        border: none;
        font-size: 1rem;

        &:hover {
            color: white;
            background-color: var(--bg-main);
        }
    }
}

@media (min-width: 768px) {
    .timer-container {
        padding: 1.5em 3em;
    }

    .timer-time {
        font-size: 5rem;
    }
}