@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

body {
    font-family: $font-primary;
    font-size: 1.25rem;
    color: white;

    &.work-mode {
        background-color: $color-primary;
        @include transition;

        &.pomodoro-1 {
            background-color: map-get($map: $pomodoro-colors, $key: "1");   
        }

        &.pomodoro-2 {
            background-color: map-get($map: $pomodoro-colors, $key: "2");   
        }

        &.pomodoro-3 {
            background-color: map-get($map: $pomodoro-colors, $key: "3");   
        }
    }

    &.break-mode {
        background-color: $color-secondary;
        @include transition;

        &.break-1 {
            background-color: map-get($map: $break-colors, $key: "1");   
        }

        &.break-2 {
            background-color: map-get($map: $break-colors, $key: "2");   
        }

        &.break-3 {
            background-color: map-get($map: $break-colors, $key: "3");   
        }
    }
}





button {
    background: transparent;
    border-radius: 0.6em;
    cursor: pointer;
    padding: .5em 2em;
    font-weight: $fw-b;
}