@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

body {
    font-family: $font-primary;
    color: white;
    @include transition;

    &.work-mode {
        --bg-main: #{$color-primary};

        &.pomodoro-1 {
            --bg-main: #{map-get($pomodoro-colors, "1")};
        }

        &.pomodoro-2 {
            --bg-main: #{map-get($pomodoro-colors, "2")};
        }

        &.pomodoro-3 {
            --bg-main: #{map-get($pomodoro-colors, "3")};
        }
    }

    &.break-mode {
        --bg-main: #{$color-secondary};

        &.break-1 {
            --bg-main: #{map-get($break-colors, "1")};
        }

        &.break-2 {
            --bg-main: #{map-get($break-colors, "2")};
        }

        &.break-3 {
            --bg-main: #{map-get($break-colors, "3")};
        }
    }

    background-color: var(--bg-main);
}


h1 {
    font-size: 3rem;
    color: white;
    text-align: center;
    margin-bottom: 1em;
}



button {
    background: transparent;
    border-radius: 0.6em;
    cursor: pointer;
    padding: .5em 2em;
    font-weight: $fw-b;
    font-size: 1rem;
}