@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

body {
    font-family: $font-primary;
    font-size: 1.25rem;
    color: white;

    &.work-mode {
        background-color: $color-primary;
        @include transition;
    }

    &.break-mode {
        background-color: $color-secondary;
        @include transition;
    }
}

button {
    background: transparent;
    border-radius: 0.6em;
    cursor: pointer;
    padding: .5em 2em;
    font-weight: $fw-b;
}