@use 'vendors/normalize';

@use 'abstracts/variables';
@use 'abstracts/mixins';

@use 'base/base';

@use 'components/stats-chart';
@use 'components/color-theme-box';
@use 'components/stats-list';
@use 'components/task';
@use 'components/timer';

@use 'layout/navbar';
@use 'layout/settings';
@use 'layout/stats';